<div class="container ui"  *ngIf="order">
  <h1 class="ui header">Bestelldetails</h1>
  <h2>Bestellung Nummer {{order.number}}</h2>
  <h3 class="ui header">Aufgegeben am {{order.created_at | date: 'dd.MM.yyyy'}}
        um {{order.created_at | date: 'hh:mm' : 'UTC+2'}}</h3>
    <h3 class="ui header">Preis Netto: {{order.total_net}} Euro, Preis Brutto: {{order.total_gross}}Euro</h3>

  <div class="ui divider"></div>

  <h2 class="ui header">Bestellte Bücher:</h2>
  <div class="ui grid" *ngFor="let book of order.books">
    <div class="twelve wide column">
      <h1 class="ui header">{{order.user_id}}{{ book.title }}</h1>
      <h3 class="ui header">{{ book.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">Autoren</h4>
          <span *ngFor="let author of book.authors; last as l">
         {{ author.firstName }} {{ author.lastName }}<span *ngIf="!l">, </span>
       </span>
        </div>
        <div class="four wide column">
          <h4 class="ui header">ISBN</h4>
          {{ book.isbn }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Erschienen</h4>
          {{ book.published }}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Rating</h4>
          <i *ngFor="let r of getRating(book.rating)" class="yellow star icon"></i>
        </div>
      </div>
    </div>

  </div>
</div>